<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2000000" />
    </bean>
    <bean name="/handleUpload"
          class="com.controller.HandleUploadController">
    <property name="tempDirectory" value="/tmp" />
    </bean>
-->
    <!-- HandlerMapping -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <!-- HandlerAdapter -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <bean name="/home" class="com.controller.HomeController">
        <property name="flightService" ref="flightService" />
    </bean>

    <bean name="/search" class="com.controller.SearchFlightsController">
        <property name="flightService" ref="flightService" />
    </bean>

    <bean name="/person" class="com.controller.PersonFormController">
       <!-- <property name="flightService" ref="flightService" />-->
    </bean>

    <bean name="/PersonSuccess"
          class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />

   <!-- <bean id="auxViewResolver"
          class="org.springframework.web.servlet.view.XmlViewResolver">
        <property name="order" value="1"/>
        <property name="location" value="/WEB-INF/views.xml"/>
    </bean>-->

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>

